<div
  class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-b from-blue-500 to-blue-300 p-4"
  style="margin: -16px"
>
  <h1 class="text-5xl font-bold text-blue-900 mb-8">Aplicación del tiempo</h1>

  <form
    class="relative w-full max-w-md mb-8"
    (submit)="onSubmit($event, cityInput.value)"
  >
    <div class="flex items-center justify-center">
      <button class="absolute left-2 top-1/2 transform -translate-y-1/2 p-1">
        <svg
          width="17"
          height="16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-labelledby="search"
          class="w-5 h-5 text-gray-700"
        >
          <path
            d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
            stroke="currentColor"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      <input
        class="input w-full rounded-full pl-10 pr-8 py-3 border-2 border-transparent focus:outline-none focus:border-blue-500 placeholder-gray-400 transition-all duration-300 shadow-md"
        placeholder="Ciudad..."
        required=""
        type="text"
        #cityInput
      />
    </div>
  </form>

  @if (weatherList) {
  <div
    class="mt-10 p-6 bg-white bg-opacity-70 backdrop-blur-lg rounded-xl shadow-lg max-w-md text-center"
  >
    <h2 class="text-3xl font-bold text-blue-900">
      {{ weatherList.name }}, {{ weatherList.sys.country }}
    </h2>
    <p class="text-4xl text-blue-700 my-4">{{ weatherList.main.temp }}°C</p>
    <img
      class="block mx-auto"
      [src]="weatherList.weather[0].icon"
      alt="weatherImg"
    />
    <p class="text-sm text-gray-700 mt-2">
      Máximas: {{ weatherList.main.temp_max }}°C
    </p>
    <p class="text-sm text-gray-700">
      Sensación térmica: {{ weatherList.main.feels_like }}°C
    </p>
    <p class="text-sm text-gray-700">
      Humedad: {{ weatherList.main.humidity }}%
    </p>
    <p class="text-sm text-gray-700">
      Viento: {{ weatherList.wind.speed }} Km/h
    </p>
    <p class="text-sm text-gray-700">Amanecer: {{ weatherList.sys.sunrise }}</p>
    <p class="text-sm text-gray-700">Atardecer: {{ weatherList.sys.sunset }}</p>
    <button
      class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold px-6 py-2 rounded-lg shadow-md transition-transform transform hover:scale-105 active:scale-95 focus:outline-none focus:ring-2 focus:ring-blue-300"
    >
      Guardar Ciudad
    </button>
  </div>
  }
  <!--
  <div *ngIf="favCities().length > 0" class="mt-10 w-full max-w-md">
    <h2 class="text-2xl font-bold text-blue-900 mb-4">Ciudades Guardadas</h2>
    <ul>
      <li
        *ngFor="let city of favCities()"
        class="mb-2 p-4 bg-white bg-opacity-70 backdrop-blur-lg rounded-xl shadow-md"
      >
        <h3 class="text-lg font-semibold">
          {{ city.name }}, {{ city.sys.country }}
        </h3>
        <p class="text-gray-700">Temperatura: {{ city.main.temp }}°C</p>
        <button
          (click)="removeCity(city.sys.id)"
          class="mt-2 bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded-lg shadow-md transition-transform transform hover:scale-105 active:scale-95 focus:outline-none focus:ring-2 focus:ring-red-300"
        >
          Eliminar Ciudad
        </button>
      </li>
    </ul>
  </div>
  -->
</div>
